.logFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: rgb(69, 95, 119)
}

.logForm {
    display: flex;
    height: 80%;
    width: 80%;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: lightgray;
}

.logForm div {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.logForm button {
    width: 100px;
    height: 50px;
    border: 1px solid gray;
}