.article_TeamHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(145, 145, 145);
    margin: 5px 5px 0px 5px;
}

.left {
    width: 50px;
    height: 50px;
    background-size: 65% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.right {
    flex-grow: 1;
    font-size: 15px;
    font-weight: 500;
}

.article_PostData {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(102, 102, 102);
    padding: 2px;
    border: 1px solid rgb(0, 0, 0);
    margin: 5px 5px 0px 5px;
    font-size: 13px;
    font-weight: 400;
}

.article_PostData span {
    font-weight: 500;
    margin-right: 30px;
}

.article_body {
    background: rgb(69, 95, 119);
    margin: 0 5px;
    min-height: 77vh;
    margin-bottom: 1vh;
    border: 1px solid rgb(78, 77, 77);
    padding: 10px;
}

.article_body h1 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(185, 185, 185);
    margin: 15px 0;
}

.article_image {
    background-size: cover !important;
    width: 100%;
    height: 200px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.article_text {
    font-weight: 300;
    color: rgb(235, 235, 235);
    line-height: 23px;
    margin: 15px 0;
}

.video_body {
    background: rgb(69, 95, 119);
    margin: 0 5px;
    min-height: 46.5vh;
    margin-bottom: 1vh;
    border: 1px solid rgb(78, 77, 77);
    padding: 10px;
}

.video_body h1 {
    font-size: 25px;
    font-weight: 400;
    color: darkgray;
    margin: 15px 0;
    padding: 0 10px;
}

.video_body iframe {
    border: 0;
}