.button {
    text-align: center;
    background: gray;
    border-bottom: 1px solid lightgray;
    font-weight: 500;
    color: white;
    padding: 9px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}