.videoList {}

.videoList h3 {
    text-align: center;
    color: black;
    font-weight: 300;
    font-size: 21px;
    background: rgb(196, 68, 68);
    margin: 0;
    padding: 21px;
}

.video {
    display: flex;
    margin: 2px 0px 2px 0px;
    background: rgb(69, 95, 119);
}

.video h2 {
    font-size: 13px;
    padding: 10px;
    color: white;
}

.left {
    background-size: cover !important;
}

.left div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: url("/images/play.png");
}

.videosRelated {
    margin: 0 5px;
}