.card {
    outline: 1px solid rgb(94, 94, 94);
    background: rgb(69, 95, 119);
    margin: 2px 0px 4px 0px;
    padding: 8px 5px 0px 5px;
}

.card h2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    padding: 0px 5px 5px;
    margin: 0;
}

.card a {
    text-decoration: none !important;
    color: white;
    font-weight: 100;
}

.wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
}

.wrapper_enter {
    opacity: 1;
    transform: translateX(0%);
}


/* News Main Template */

.card_wrap {
    display: flex;
    background: rgb(69, 95, 119);
    margin: 0px 0px 3px 0px;
}

.card_wrap h2 {
    font-size: 12px;
    color: white;
    font-weight: 400;
}

.left {
    background-size: cover !important;
}

.left div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.right {
    flex-grow: 1;
    padding: 10px;
}