.card {
    border: 1px solid black;
    background: white;
    margin-top: 0px;
    padding: 8px 5px 0 5px;
}

.card h2 {
    font-size: 13px;
    line-height: 21px;
    margin: 5px 0;
}

.card a {
    text-decoration: none;
}

.wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in;
}

.wrapper_enter {
    opacity: 1;
    transform: translateX(0%);
}


/* News Main Template */

.card_wrap {
    display: flex;
    border-bottom: 2px solid grey;
    background: white;
}

.card_wrap h2 {
    font-size: 12px;
}

.left {
    background-size: cover !important;
}

.left div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.right {
    flex-grow: 1;
    padding: 10px
}